.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        name
      .top-items__icons
        = link_to "/" , class: "top-items__icons__edit" do
          %i.fas.fa-edit
        = link_to "/" , class: "top-items__icons__setting" do
          %i.fas.fa-cog
  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar__group-list__group__group-name
        techcamp
      .side-bar__group-list__group__latest-message
        まだメッセージはありません
    .side-bar__group-list__group
      .side-bar__group-list__group__group-name
        techcamp
      .side-bar__group-list__group__latest-message
        まだメッセージはありません